*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: inter;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    background-color: antiquewhite;
}
.container{
    width: 400px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: opx opx 10px rgba(21, 20, 20, 0.6);
    height: 240px;
}
.hed{
    text-align: center;
    margin-bottom: 20px;
}
input{
    padding:10px;
    margin: 12px 0px;
    background-color: aliceblue;
}